html, body, div, span, applet, object, iframe, h2, h3, h4, h5, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    
    background: transparent;
    font-family: "Century Gothic", sans-serif;
}

body {
  background: linear-gradient(to left, rgb(33 37 41), #181c31);
  display: flex;
        justify-content: center;
        align-items: center;
        font-size:16px;
        flex-direction: column;
        margin-top: 20%;
}


.main{
  
  justify-content: center;
        align-items: center;
  display: flex;
  flex-direction: column;
}

.box{
  border:0.3em solid rgb(76, 93, 154);
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 15px;
    
    margin-top: 20px;
    padding: 10px;
    padding-top: 15px;
    box-shadow: 17px -10px 0px 4px #181a2d;
    width: 120%;
}



#paypal-boutons{
width: 100%;}

.button{
  display:inline-block;
  background-color: transparent;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  margin:0 0.3em 0.3em 0;
  border-radius:3px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:black;
  text-align:center;
  transition: all 0.2s;
  margin: 10px;
  }
  .button:hover{
  color:white;
  background-color:black;
  border: white;
  }
  @media all and (max-width:30em){
  .button{
  display:block;
  margin:0.4em auto;
  }
  }
  
  .temps{
    display: flex;
    border:0.3em solid rgb(76, 93, 154);
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 15px;
    
    margin-top: 20px;
    padding: 10px;
    padding-top: 15px;
    box-shadow: 17px -10px 0px 4px #181a2d;

  }





